<br>

<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a tool for creating and sharing wikis!</p>
  <% if !user_signed_in? %>
    <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Free Plan</h2>
    <p>Create as many public wikis as you want!</p>
  </div>
  <div class="col-md-6">
    <h2>Premium Plan</h2>
    <p>Create private wikis!</p>
  </div>
</div>
